.publications-page {
  a.text-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    display: block;
    margin-bottom: 1.25rem;
    line-height: 1.6;
  }
}

// This ensures good max-width for readability
.page__content.publications-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
