.publications-page {
  max-width: 100%; /* or 80%, adjust as needed */
  margin: 0 auto;
  padding: 0rem;

  a.text-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
